<div class="col-md-6">
            <label for="inputEmail4" class="form-label">FirstName</label>
            <input type="text" name="firstname" value="{{this.firstname}}" class="form-control" id="inputEmail4" placeholder="John">
         </div>
         <div class="col-md-6">
            <label for="inputEmail5" class="form-label">Last Name</label>
            <input type="text" name="lastname" value="{{this.lastname}}" class="form-control" id="inputEmail5" placeholder="Doe">
         </div>
         <div class="col-6">
            <label for="inputAddress" class="form-label">Email Address</label>
            <input type="email" class="form-control" value="{{this.email}}" name="email" id="inputAddress" placeholder="example@domain.com">
         </div>
         <div class="col-md-6">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="phone" name="phone" value="{{this.phone}}" class="form-control" id="phone">
         </div>
        <div class="col-12">
         <textarea class="form-control" placeholder="Write A Comment" name="comments" id="" cols="30" rows="10">{{this.comments}}</textarea>
        </div>
         <div class="col-12">
            <button type="submit" class="btn-center btn btn-primary">Submit</button>
         </div>