<nav aria-label="breadcrumb">
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">View User</li>
   </ol>
</nav>
<div class="view-user p-5">
   {{#each rows}}
<div class="col text-center">
   <h3>{{this.firstname}} {{this.lastname}}</h3>
</div>
<table class="table table-bordered">
   <thead>
      <tr>
         <th scope="col">First Name</th>
         <th scope="col">Last Name</th>
         <th scope="col">Email</th>
         <th scope="col">Phone</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>{{this.firstname}}</td>
         <td>{{this.lastname}}</td>
         <td>{{this.email}}</td>
         <td>{{this.phone}}</td>
         <br><br>
      </tr>
      <hr>
      <tr>
         <th>Comments</th>
         <td>{{this.comments}}</td>
      </tr>
   </tbody>
   </table>
   {{/each}}
</div>